@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The Profile Manager is a small example of an application leveraging Azure services such as Web Apps, Azure SQL, BLOB Storage, and Cognive Service.</p>
