@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Profile Manager</h1> 

    <div>
        This example <em>Profile Manager</em> application uses Azure managed services such as App Service, Azure SQL, Azure Storage, and Cognitive Services. It consists of a backend API, which services HTTP(S) requests from a front-end web application. In this example, both the web application and backend API are hosted in the same Azure Web App service for convenience, but they could be hosted separately. The backend API could also serve other clients such as a mobile application.
    </div>

    <div align="center" style="margin: 0.5cm;">
        <img width="512" src="images/profile-manager-app.png" />
    </div>
</div>