@model ProfileManager.Models.Profile

@{
    ViewData["Title"] = "Edit";
    var initialImageName = "/api/profile/image/" + Model.Photo;
}

<h2>Edit</h2>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Photo" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="edit-submit" type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
    <div>
        <div class="wrapper" id="image-wrapper">
            <img id="outImage" width="200" src="@initialImageName" alt="ImageNotFound" />
            <!--
            <div id="faceRectangle" class="box"></div>
            -->
        </div>
        <div class="form-group">
            <form id="image-upload-form" enctype="multipart/form-data">
                <input style="width: 200px;" class="form-control" type="file" id="file"/>
            </form>
        </div>  
        <div class="alert alert-success" role="alert" id="feedback" style="visibility: hidden;"></div>  
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <style>
    .wrapper {
        position:relative;
    }

    .box {
        position:absolute;
        top:0px;
        left:0px;
        width:50px;
        height:50px;
        border:2px solid #fa0202;
        background-color:transparent;
        visibility: hidden;
    }
    </style>

   <script lang="JavaScript">
        document.getElementById('file').onchange = loadProfileImageFromFile;
    </script>
}
